<%-include("./partials/header")%>


<div style="margin: 15% auto;
    width: 50%;">
    <div class="card text-center">
        <div class="card-header">
            <i class="fas fa-exclamation-circle" style="font-size: 70px;color: orange;"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Already Registered</h5>
          <p class="card-text">This mail is already in use</p>
          <p class="card-text">Please register with different mail.</p>
          <a href="/" class="btn btn-primary">Subscribe Again</a>
        </div>
      </div>
</div>  

<%-include("./partials/footer")%>