<%-include("./partials/header")%>


<div style="margin: 15% auto;
    width: 50%;">
    <div class="card text-center">
        <div class="card-header">
            <i class="far fa-check-circle" style="font-size: 70px;color: green;"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Successfully Registered</h5>
          <p class="card-text">Thanks for Visiting.</p>
          <p class="card-text">A verification mail is send to you, Please verify your email.</p>
          <a href="/" class="btn btn-primary">Subscribe Again</a>
        </div>
      </div>
</div>  

<%-include("./partials/footer")%>